// Functions

$base-size: 16;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1em;
}

/*--------------------
// Colors
--------------------*/

$primary: #FC6D6D;
$secondary: #F8F8F8;
$text-color: #747474;


/*--------------------
// Typography
--------------------*/

h1, h2, h3, h4, h5, h6, p {
    color: $text-color;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 104.6%;
}

/*--------------------
// Spacing
--------------------*/

dl, ol, ul {
    margin-bottom: 0;
}

/*--------------------
// Components
--------------------*/

.main-button {
    border: none;
    padding: size(16);
    background: #FC6D6D;
    box-shadow: 0px 2.69039px 26.9039px rgba(252, 109, 109, 0.4);
    border-radius: 134.52px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s;
    font-size: size(14);

    &:hover {
        transform: scale(1.1);
        transition: all 0.2s;
    }
} 

.divider {
    height: size(5);
    width: 10%;
    background-color: $primary;
}

.call_to_action {
    position: fixed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 4;
    right: size(8);
    bottom: size(8);
    background-color: #FC6D6D;
    color: #ffffff;
    display: flex;
    padding: size(10);
    border-radius: size(16);

    img {
        width: size(40);
        cursor: pointer;
    }

    .call_to_action__link {
        text-decoration: underline !important;
        color: #ffffff;
    }
}

.d-none {
    display: none !important;
}



/*--------------------
// Sections
--------------------*/




#workflow {
    background-color: $secondary;
}

#footer {
    background-color: $secondary;
}




.hero {
    max-width: 60vw;
}


li {
    font-size: size(12);
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    cursor: pointer;

    &:hover {
        color: #FC6D6D;
        transition: all 0.2s;
    }
}

.footer__header {
    color: #ffffff;
}

.footer__credits {
    color: #ffffff;
    background-color: $primary;
}

.footer__list {
    text-transform: uppercase;
}

.footer__list_item--highlighted {
    text-transform: uppercase;
    color: #FC6D6D;
}

.footer__list_item {
    text-transform: uppercase;
    font-size: size(12);
}


.nav__container {
    display: flex;
    background-color:$secondary;
    justify-content: space-between;
    border-top: size(5) solid $primary;
}

nav {
    position: relative;
}

.nav__responsive {

    position: absolute;
    right: size(10);
    top: size(10);
    display: none;


    span {
        height: size(2);
        background-color: $text-color;
        width: size(20);
        margin-top: 5px;
        display: block;
    }
}

.nav__logo {
    margin-top: size(15);
    position: relative;

    &:after {
        content: "Per Aziende";
        position: absolute;
        top: size(10);
        left: size(180);
        color: #FC6D6D;
        font-size: size(12);

    }
}

.nav__list {
    display: flex;
}

.list__item {
    padding: size(25);
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {

    .nav__container {
        flex-direction: column;
    }

    .nav__responsive {
        display: block;
        cursor: pointer;
    }

    .nav__logo {
        margin-left: 0;
        margin-top: size(10);
        margin-bottom: size(10);
    }

    .nav__list {
        flex-direction: column;
        text-align: center;
        display: none;
    }
}

.open{
    display: block;
}


// Media queries 

@media screen and (max-width: 700px) {

}