/*--------------------
// Colors
--------------------*/
/*--------------------
// Typography
--------------------*/
h1, h2, h3, h4, h5, h6, p {
  color: #747474;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 104.6%;
}

/*--------------------
// Spacing
--------------------*/
dl, ol, ul {
  margin-bottom: 0;
}

/*--------------------
// Components
--------------------*/
.main-button {
  border: none;
  padding: 1em;
  background: #FC6D6D;
  -webkit-box-shadow: 0px 2.69039px 26.9039px rgba(252, 109, 109, 0.4);
          box-shadow: 0px 2.69039px 26.9039px rgba(252, 109, 109, 0.4);
  border-radius: 134.52px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 0.875em;
}

.main-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.divider {
  height: 0.3125em;
  width: 10%;
  background-color: #FC6D6D;
}

.call_to_action {
  position: fixed;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 4;
  right: 0.5em;
  bottom: 0.5em;
  background-color: #FC6D6D;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625em;
  border-radius: 1em;
}

.call_to_action img {
  width: 2.5em;
  cursor: pointer;
}

.call_to_action .call_to_action__link {
  text-decoration: underline !important;
  color: #ffffff;
}

.d-none {
  display: none !important;
}

/*--------------------
// Sections
--------------------*/
#workflow {
  background-color: #F8F8F8;
}

#footer {
  background-color: #F8F8F8;
}

.hero {
  max-width: 60vw;
}

li {
  font-size: 0.75em;
  font-family: 'Roboto', sans-serif;
  color: #747474;
  cursor: pointer;
}

li:hover {
  color: #FC6D6D;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__header {
  color: #ffffff;
}

.footer__credits {
  color: #ffffff;
  background-color: #FC6D6D;
}

.footer__list {
  text-transform: uppercase;
}

.footer__list_item--highlighted {
  text-transform: uppercase;
  color: #FC6D6D;
}

.footer__list_item {
  text-transform: uppercase;
  font-size: 0.75em;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F8F8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.3125em solid #FC6D6D;
}

nav {
  position: relative;
}

.nav__responsive {
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  display: none;
}

.nav__responsive span {
  height: 0.125em;
  background-color: #747474;
  width: 1.25em;
  margin-top: 5px;
  display: block;
}

.nav__logo {
  margin-top: 0.9375em;
  position: relative;
}

.nav__logo:after {
  content: "Per Aziende";
  position: absolute;
  top: 0.625em;
  left: 11.25em;
  color: #FC6D6D;
  font-size: 0.75em;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__item {
  padding: 1.5625em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .nav__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__responsive {
    display: block;
    cursor: pointer;
  }
  .nav__logo {
    margin-left: 0;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    display: none;
  }
}

.open {
  display: block;
}
/*# sourceMappingURL=style.css.map */